[toolchain]

[features]
seeds = false
skip-lint = false

[programs.localnet]
trap_leaderboard = "Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS"
trap_vault = "G4tZ...mock...VaultID"
trap_zones = "Zon3...mock...ZoneID"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
